.datatable-project .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-project .project-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* # SCSS */
/* @import '~react-image-gallery/styles/scss/image-gallery.scss'; */

/* # CSS */
@import '~react-image-gallery/styles/css/image-gallery.css';
