#resumeDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-items: center;
  padding-top: 30vh;
}

#resumeBody {
  background-image: url('https://images.unsplash.com/photo-1608999383953-d61f5d9c1ace?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}
