.slider {
  /* position: relative; */
  height: auto;
  width: auto;
  display: block;
  /* display: flex; */
  /* align-self: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
}

.image {
  width: 75vw;
  height: 75vh;
  border-radius: 5%;
}

.next {
  position: fixed;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.previous {
  position: fixed;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition: 2s;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition: 2s;
  transition-duration: 2s;
  transform: scale(1.08);
}

.slideNumber {
  color: rebeccapurple;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}
