#landingPage {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  background-image: url("../../photos/CJ'sDesktop.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

#showcase {
  height: 120vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding: 0 20px;
  line-height: 1;
}

#sectionA {
  padding: 1rem;
  background: rebeccapurple;
  text-align: center;
  border: groove 0.5rem white;
}
#sectionB {
  padding: 1rem;
  background: gray;
  text-align: center;
  flex-grow: 1;
  border: groove 0.5rem white;
}

#sectionC {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#sectionC div {
  border: groove 0.5rem white;
  width: 100%;
}

.sectionC1 {
  padding: 1rem;
  background: gray;
  text-align: center;
}

.sectionC2 {
  padding: 1rem;

  background: rebeccapurple;
  text-align: center;
}
