#landingPage {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;

  /* color: white; */
  /* background-image: url("../../photos/CJ'sDesktop.jpeg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;
  /* align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1;
  padding: 0 20px;
  text-align: center;
  width: 100%; */
}

#sectionA {
  background: rgb(75, 0, 130, 0.3);
  border: groove 0.5rem white;
  padding: 1rem;
  text-align: center;
}

#sectionB {
  background: rgb(128, 128, 128, 0.3);
  border: groove 0.5rem white;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}

#sectionC {
  display: flex;
  flex-direction: row;
  width: auto;
}

#sectionC div {
  border: groove 0.5rem white;
  width: auto;
}

.sectionC1 {
  padding: 1rem;
  background: rgb(128, 128, 128, 0.3);
  text-align: center;
}

.sectionC2 {
  padding: 1rem;
  background: rgb(75, 0, 130, 0.3);
  text-align: center;
}
