.business-card-container {
  position: static;
  top: 50%;
  left: 50%;
  perspective: 1000px;
}

.business-card {
  width: 550px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  transition: transform 3s;
}

.business-card-container:hover .business-card {
  transform: rotateY(180deg);
}

.business-card-front,
.business-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
}

.business-card-front {
  display: flex;
  background: linear-gradient(27.5deg, #bebebe 50%, #502e93 0);
  position: absolute;
}

.business-card-left {
  margin-top: -3.5rem;
}

.business-card-left img {
  height: 250;
  left: -135px;
  margin-top: 1%;
  width: 550;
}

.business-card-left h4 {
  color: #1a1a1a;
  overflow-wrap: anywhere;
  margin-top: 60%;
}

.business-card-left span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #f55b85;
}

.business-card-right {
  width: 80%;
  color: #fff;
}

.business-card-person {
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #bebebe;
  display: flex;
  justify-content: center;
  margin-top: 2.05rem;
  margin-right: 1rem;
}

.business-card-person h4 {
  text-transform: uppercase;
}

.business-card-person p {
  margin: 0;
}

.business-card-phone-and-email {
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.business-card-address {
  color: #bebebe;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #1a1a1a;
  border-radius: 20px;
  margin-right: 1rem;
}

.business-card-address p {
  margin: 0;
}

.business-card-back {
  background: linear-gradient(-207.5deg, #502e93 50%, #bebebe 0);
  transform: rotateY(180deg);
}

.business-card-back-left img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 255;
  width: 550;
}
