body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: indigo;
  text-decoration: none;
}

/* 404 error css */
#FourOhFour {
  background-attachment: fixed;
  background-image: url('../src/photos/404.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Side panel buttons */
.button .p-buttonset .p-button {
  margin-right: 0;
}
.button .template .p-button i {
  line-height: 2.25rem;
}
.button .template .p-button.google {
  background: linear-gradient(
    to left,
    var(--blue-600) 50%,
    var(--blue-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--blue-700);
}
.button .template .p-button.google:hover {
  background-position: left bottom;
}
.button .template .p-button.google i {
  background-color: var(--blue-700);
}
.button .template .p-button.google:focus {
  box-shadow: 0 0 0 1px var(--blue-400);
}
.button .template .p-button.youtube {
  background: linear-gradient(
    to left,
    var(--pink-600) 50%,
    var(--pink-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--pink-700);
}
.button .template .p-button.youtube:hover {
  background-position: left bottom;
}
.button .template .p-button.youtube i {
  background-color: var(--pink-700);
}
.button .template .p-button.youtube:focus {
  box-shadow: 0 0 0 1px var(--pink-400);
}
.button .template .p-button.vimeo {
  background: linear-gradient(
    to left,
    var(--cyan-200) 50%,
    var(--cyan-300) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(-cyan-300);
}
.button .template .p-button.vimeo:hover {
  background-position: left bottom;
}
.button .template .p-button.vimeo i {
  background-color: var(-cyan-300);
}
.button .template .p-button.vimeo:focus {
  box-shadow: 0 0 0 1px var(-cyan-400);
}
.button .template .p-button.facebook {
  background: linear-gradient(
    to left,
    var(--indigo-600) 50%,
    var(--indigo-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--indigo-700);
}
.button .template .p-button.facebook:hover {
  background-position: left bottom;
}
.button .template .p-button.facebook i {
  background-color: var(--indigo-700);
}
.button .template .p-button.facebook:focus {
  box-shadow: 0 0 0 1px var(--indigo-400);
}
.button .template .p-button.twitter {
  background: linear-gradient(
    to left,
    var(--blue-400) 50%,
    var(--blue-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--blue-500);
}
.button .template .p-button.twitter:hover {
  background-position: left bottom;
}
.button .template .p-button.twitter i {
  background-color: var(--blue-500);
}
.button .template .p-button.twitter:focus {
  box-shadow: 0 0 0 1px var(--blue-200);
}
.button .template .p-button.slack {
  background: linear-gradient(
    to left,
    var(--pink-400) 50%,
    var(--pink-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--pink-500);
}
.button .template .p-button.slack:hover {
  background-position: left bottom;
}
.button .template .p-button.slack i {
  background-color: var(--pink-500);
}
.button .template .p-button.slack:focus {
  box-shadow: 0 0 0 1px var(--pink-200);
}
.button .template .p-button.github {
  background: linear-gradient(
    to left,
    var(--pink-400) 50%,
    var(--pink-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--pink-500);
}
.button .template .p-button.github:hover {
  background-position: left bottom;
}
.button .template .p-button.github i {
  background-color: var(--pink-500);
}
.button .template .p-button.github:focus {
  box-shadow: 0 0 0 1px var(--pink-200);
}
.button .template .p-button.discord {
  background: linear-gradient(
    to left,
    var(--bluegray-700) 50%,
    var(--bluegray-800) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--bluegray-800);
}
.button .template .p-button.discord:hover {
  background-position: left bottom;
}
.button .template .p-button.discord i {
  background-color: var(--bluegray-800);
}
.button .template .p-button.discord:focus {
  box-shadow: 0 0 0 1px var(--bluegray-500);
}
/*  */
.button .template .p-button.whatsapp {
  background: linear-gradient(
    to left,
    var(--green-600) 50%,
    var(--green-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--green-700);
}
.button .template .p-button.whatsapp:hover {
  background-position: left bottom;
}
.button .template .p-button.whatsapp i {
  background-color: var(--green-700);
}
.button .template .p-button.whatsapp:focus {
  box-shadow: 0 0 0 1px var(--green-400);
}
/*  */
.button .template .p-button.instagram {
  background: linear-gradient(
    to left,
    var(--purple-600) 50%,
    var(--purple-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--purple-700);
}
.button .template .p-button.instagram:hover {
  background-position: left bottom;
}
.button .template .p-button.instagram i {
  background-color: var(--purple-700);
}
.button .template .p-button.instagram:focus {
  box-shadow: 0 0 0 1px var(--purple-400);
}
/*  */
/*  */
.button .template .p-button.tiktok {
  background: linear-gradient(
    to left,
    var(--teal-400) 50%,
    var(--teal-600) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--teal-600);
}
.button .template .p-button.tiktok:hover {
  background-position: left bottom;
}
.button .template .p-button.tiktok i {
  background-color: var(--teal-600);
}
.button .template .p-button.tiktok:focus {
  box-shadow: 0 0 0 1px var(--teal-600);
}
/*  */
.button .template .p-button.coffee {
  background: linear-gradient(
    to left,
    var(--yellow-600) 50%,
    var(--yellow-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--yellow-700);
}
.button .template .p-button.coffee:hover {
  background-position: left bottom;
}
.button .template .p-button.coffee i {
  background-color: var(--yellow-700);
}
.button .template .p-button.coffee:focus {
  box-shadow: 0 0 0 1px var(--yellow-400);
}
/*  */
.button .template .p-button.linkedin {
  background: linear-gradient(
    to left,
    var(--cyan-600) 50%,
    var(--cyan-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--cyan-700);
}
.button .template .p-button.linkedin:hover {
  background-position: left bottom;
}
.button .template .p-button.linkedin i {
  background-color: var(--cyan-700);
}
.button .template .p-button.linkedin:focus {
  box-shadow: 0 0 0 1px var(--cyan-400);
}
/*  */

@media screen and (max-width: 960px) {
  .button .p-button {
    margin-bottom: 0.5rem;
  }
  .button .p-button:not(.p-button-icon-only) {
    display: flex;
    width: 100%;
  }
  .button .p-buttonset .p-button {
    margin-bottom: 0;
  }
}

/* App & Home */
#navbar {
  z-index: 1000;
}

#footer {
  z-index: 1000;
}

#homeFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
  background-color: #694382;
}

input,
select,
textarea {
  color: indigo;
  font-size: 1rem;
  opacity: 1;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.App {
  text-align: center;
}

/* animated background gradient */
#landingPageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1vmin;
  justify-content: center;
  margin-bottom: 8rem;
  text-align: center;
}

#welcomeText {
  animation: gradientAnimation 6s linear infinite alternate,
    hue 6s linear infinite alternate;
  background-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  font-size: 20em;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.025em transparent;
  white-space: nowrap;
}

h1#welcomeText:hover {
  animation: spinner 12s linear infinite alternate,
    gradientAnimation 6s linear infinite alternate,
    hue 6s linear infinite alternate;
}

@keyframes gradientAnimation {
  100% {
    background-position: 864px 0;
  }
}

@keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg), drop-shadow(3px 3px 1px 0.9);
  }
  50% {
    -webkit-filter: hue-rotate(360deg), drop-shadow(3px 3px 1px 0.9);
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* typewriter text effect */
/* .typewriterContainer {
  display: inline-block;
}

.typewriterText {
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
} */

/* landing page css */

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

#sectionA {
  background: rgb(75, 0, 130, 0.3);
  border: groove 0.5rem white;
  padding: 1rem;
  text-align: center;
}

#sectionB {
  background: rgb(128, 128, 128, 0.3);
  border: groove 0.5rem white;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}

#sectionC {
  display: flex;
  flex-direction: row;
  width: auto;
}

#sectionC div {
  border: groove 0.5rem white;
  width: auto;
}

.sectionC1 {
  padding: 1rem;
  background: rgb(128, 128, 128, 0.3);
  text-align: center;
}

.sectionC2 {
  padding: 1rem;
  background: rgb(75, 0, 130, 0.3);
  text-align: center;
}

#sectionD {
  border: groove 0.5rem white;
  display: flex;
  flex-direction: row;
  font-size: 1vmin;
  width: auto;
}

.sectionD1 {
  background: rgb(128, 128, 128, 0.3);
  text-align: center;
  display: grid;
  place-items: center;
}

.sectionD2 {
  padding: 1rem;
  background: rgb(75, 0, 130, 0.3);
  text-align: center;
}
